@font-face {
  font-family: 'Roboto';
  src: url('/css/font/RobotoLight/RobotoLight.eot');
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), url('/css/font/RobotoLight/RobotoLight.eot?#iefix') format('embedded-opentype'), url('/css/font/RobotoLight/RobotoLight.woff') format('woff'), url('/css/font/RobotoLight/RobotoLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('/css/font/RobotoMedium/RobotoMedium.eot');
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), url('/css/font/RobotoMedium/RobotoMedium.eot?#iefix') format('embedded-opentype'), url('/css/font/RobotoMedium/RobotoMedium.woff') format('woff'), url('/css/font/RobotoMedium/RobotoMedium.ttf') format('truetype');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  background: #fff url('/images/login-bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  color: #000;
  font-size: 16px;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  min-width: 1000px;

  @media screen and (max-width: 720px) {
    min-width: 320px;
    background: #fff;
  }
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 460px;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transform: translateX(-100px);
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
  overflow-y: auto;

  &.active {
    opacity: 1;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  @media screen and (max-width: 720px) {
    position: relative;
    width: 100%;
    opacity: 1;
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    height: auto;
  }
}

.table-wrapper{
  display: table;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-bottom: 85px;

  @media screen and (max-width: 720px){
    display: block;
    height: auto;
    padding-bottom: 0;
  }
}

.scroll-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;

  @media screen and (max-width: 720px) {
    position: relative;
    padding: 20px;
  }
}

.login_form {
  display: table-cell;
  vertical-align: middle;
  z-index: 2;
  position: relative;
  padding-top: 20px;

  @media screen and (max-width: 720px) {
    display: block;
    margin-top: 0;
    top: 0;
  }
}

.wrapper a {
  color: #15af82;
  text-decoration: none;
  cursor: pointer;
}

.wrapper a:hover {
  color: #057655;
}

.login_form header {
  overflow: hidden;
  margin-bottom: 70px;

  @media screen and (max-width: 720px) {
    margin-bottom: 40px;
  }
}

.logotype {
  height: 80px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px;
}

.logotype img {
  width: 80px;
}

.login_form header h1 {
  display: block;
  font-size: 36px;
  text-align: center;
  font-weight: 300;
}

.login_form input[type="text"], .login_form input[type="password"], .login_form textarea, .input {
  display: block;
  width: 100%;
  border: 1px #959595 solid;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  height: 48px;
  padding: 13px 15px 13px 60px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none !important;
  border-radius: 3px;
}

.login_form textarea {
  height: auto;
  padding: 7px;
}

.login_form input[type="text"]:focus, .login_form input[type="password"]:focus, .login_form textarea:focus {
  border-color: #b0b0b0;
}

.login_form input[type="text"]:disabled, .login_form input[type="password"]:disabled, .login_form textarea:disabled {
  background: none !important;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
}

.login_form .cols {
  overflow: hidden;
  margin-bottom: 35px;

  label {
    display: inline-block;
    vertical-align: top;
  }

  a {
    display: inline-block;
    float: right;

    @media screen and (max-width: 720px){
      float: none;
      margin-bottom: 20px;
    }
  }

  p {
    display: none;
  }

  div.form-group {
    margin-bottom: 0;
  }

  input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    position: relative;
    top: -1px;
  }
}

.login_form {

  div.form-group {
    margin-bottom: 12px;
  }

  .field-loginform-email, .field-passwordresetrequestform-email,
  .field-loginform-password, .field-passwordresetrequestform-password,
  .field-loginform-phone {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 45px;
      height: 48px;
      border-right: 1px #959595 solid;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  .field-loginform-email, .field-passwordresetrequestform-email {

    &::before {
      background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0i0J/QuNGB0YzQvNC+IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMS40MDYiIHZpZXdCb3g9IjAgMCAxOCAxMS40MDYiPjxkZWZzPiAgICA8c3R5bGU+ICAgICAgLmNscy0xIHsgICAgICAgIGZpbGw6ICNiZmJmYmY7ICAgICAgfSAgICAgIC5jbHMtMiB7ICAgICAgICBmaWxsOiBub25lOyAgICAgICAgc3Ryb2tlOiAjZmZmOyAgICAgICAgc3Ryb2tlLXdpZHRoOiAxcHg7ICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7ICAgICAgfSAgICA8L3N0eWxlPiAgPC9kZWZzPiAgPHJlY3QgaWQ9IlJvdW5kZWRfUmVjdGFuZ2xlXzMiIGRhdGEtbmFtZT0iUm91bmRlZCBSZWN0YW5nbGUgMyIgY2xhc3M9ImNscy0xIiB5PSIwLjQwNiIgd2lkdGg9IjE4IiBoZWlnaHQ9IjExIiByeD0iMSIgcnk9IjEiLz4gIDxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTk1LDM0NGw4LDYsNy02IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtOTQgLTM0My41OTQpIi8+PC9zdmc+');
      background-size: 18px 12px;
    }
  }

  .field-loginform-password, .field-passwordresetrequestform-password {

    &::before {
      background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0i0JfQsNC80L7QuiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTgiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxOCAxOSI+PGRlZnM+ICAgIDxzdHlsZT4gICAgICAuY2xzLTEgeyAgICAgICAgZmlsbDogI2JmYmZiZjsgICAgICB9ICAgICAgLmNscy0yIHsgICAgICAgIGZpbGw6IG5vbmU7ICAgICAgICBzdHJva2U6ICNiZmJmYmY7ICAgICAgICBzdHJva2Utd2lkdGg6IDJweDsgICAgICB9ICAgICAgLmNscy0zIHsgICAgICAgIGZpbGw6ICNmZmY7ICAgICAgfSAgICA8L3N0eWxlPiAgPC9kZWZzPiAgPHJlY3QgaWQ9IlJvdW5kZWRfUmVjdGFuZ2xlXzNfY29weSIgZGF0YS1uYW1lPSJSb3VuZGVkIFJlY3RhbmdsZSAzIGNvcHkiIGNsYXNzPSJjbHMtMSIgeT0iOCIgd2lkdGg9IjE4IiBoZWlnaHQ9IjExIiByeD0iMSIgcnk9IjEiLz4gIDxyZWN0IGlkPSJSb3VuZGVkX1JlY3RhbmdsZV80IiBkYXRhLW5hbWU9IlJvdW5kZWQgUmVjdGFuZ2xlIDQiIGNsYXNzPSJjbHMtMiIgeD0iNCIgeT0iMSIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEzIiByeD0iNSIgcnk9IjUiLz4gIDxyZWN0IGlkPSJSb3VuZGVkX1JlY3RhbmdsZV81IiBkYXRhLW5hbWU9IlJvdW5kZWQgUmVjdGFuZ2xlIDUiIGNsYXNzPSJjbHMtMyIgeD0iOCIgeT0iMTIiIHdpZHRoPSIyIiBoZWlnaHQ9IjQiIHJ4PSIxIiByeT0iMSIvPjwvc3ZnPg==');
      background-size: 18px 19px;
    }
  }

  .field-passwordresetrequestform-password {

    &::before {
      opacity: .5;
    }
  }

  .field-loginform-phone {

    &::before {
      background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iODQyMjNiZWQtMmQ2ZC00YmY1LWIwYjYtMzJlOTNjMzY2NjQwIiBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI2IiBoZWlnaHQ9IjQ0IiB2aWV3Qm94PSIwIDAgMjYgNDQiPjx0aXRsZT5pZl9pY19waG9uZV9pcGhvbmVfNDhweF8zNTIwNjc8L3RpdGxlPjxwYXRoIGQ9Ik0zMSwySDE1YTUsNSwwLDAsMC01LDVWNDFhNSw1LDAsMCwwLDUsNUgzMWE1LDUsMCwwLDAsNS01VjdBNSw1LDAsMCwwLDMxLDJaTTIzLDQ0YTMsMywwLDEsMSwzLTNBMywzLDAsMCwxLDIzLDQ0Wm05LThIMTRWOEgzMlYzNloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMCAtMikiIGZpbGw9IiNiZmJmYmYiLz48L3N2Zz4=');
      background-size: 13px 22px;
    }
  }
}

.login_form .button {
  display: block;
  outline: none;
  border: 0;
  background: #6342ed;
  height: 50px;
  line-height: 50px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none !important;
  border-radius: 3px;

  @media screen and (max-width: 720px) {
    font-size: 16px;
  }
}

.login_form .button:hover {
  color: #fff;
  background: #ff760f;
}

.login_form .button:active {
  background: #bd5518;
}

.login_form .button:disabled {
  background: #d3d3d3 !important;
  cursor: default !important;
}

.help-block-error, .input_error, .input_error input {
  border-color: #f00!important;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #faffd5 !important; /* Цвет фона */
  -webkit-text-fill-color: #000 !important; /* цвет текста */
  color: #000 !important; /* цвет текста */
}

.help-block-error {
  color: #f00;
  height: 22px;
  line-height: 22px;
  clear: left;
  font-size: 12px;
  font-weight: 400;
}

.request-success {
  border-color: green;
  color: green;
  display: block;
  margin-bottom: 20px;
}

.already-confirmed{
  margin-bottom: 30px;
  margin-top: -20px;
  line-height: 1.5;
}

.lang-selector {
  position: absolute;
  bottom: 30px;
  left: 80px;
  display: inline-block;
  vertical-align: top;

  @media screen and (max-width: 720px) {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 30px;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    color: #2ebd94;
    background: transparent;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding-left: 30px;
    padding-right: 12px;
    position: relative;
    z-index: 2;
    outline: none;
  }

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    background-size: 100% 100%;
  }

  &::before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld0JveD0iMCAwIDIyIDIyIj48ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZmZmOyAgICAgICAgc3Ryb2tlOiAjMmViZDk0OyAgICAgICAgc3Ryb2tlLXdpZHRoOiAxcHg7ICAgICAgfSAgICAgIC5jbHMtMiB7ICAgICAgICBmaWxsOiAjMmViZDk0OyAgICAgICAgZmlsbC1ydWxlOiBldmVub2RkOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDxjaXJjbGUgY2xhc3M9ImNscy0xIiBjeD0iMTEiIGN5PSIxMSIgcj0iMTAuNSIvPiAgPGVsbGlwc2UgY2xhc3M9ImNscy0xIiBjeD0iMTEiIGN5PSIxMSIgcng9IjUuNSIgcnk9IjEwLjUiLz4gIDxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTgxLDcxNnYtMWgxOXYxSDgxWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTc5LjUgLTcwNy41KSIvPiAgPHBhdGggaWQ9IlNoYXBlXzNfY29weV8yIiBkYXRhLW5hbWU9IlNoYXBlIDMgY29weSAyIiBjbGFzcz0iY2xzLTIiIGQ9Ik05MCw3MDloMXYyMEg5MFY3MDlaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNzkuNSAtNzA3LjUpIi8+ICA8cGF0aCBpZD0iU2hhcGVfM19jb3B5IiBkYXRhLW5hbWU9IlNoYXBlIDMgY29weSIgY2xhc3M9ImNscy0yIiBkPSJNODEsNzIydi0xaDE5djFIODFaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNzkuNSAtNzA3LjUpIi8+PC9zdmc+');
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
  }

  &::after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjQiIHZpZXdCb3g9IjAgMCA2IDQiPjxkZWZzPiAgICA8c3R5bGU+ICAgICAgLmNscy0xIHsgICAgICAgIGZpbGw6ICMyZWJkOTQ7ICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7ICAgICAgfSAgICA8L3N0eWxlPiAgPC9kZWZzPiAgPHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMjI4LDcxOWg2bC0zLDRaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjI4IC03MTkpIi8+PC9zdmc+');
    width: 6px;
    height: 4px;
    top: 10px;
    right: 0;
  }
}

.reset-password{

  .form-group{

    label{
      display: none;
    }
  }
}