<header class="page_header">
    <div class="content">
        <h1>Мобильное приложение для заказа услуг</h1>
        <p class="header_description">
            Ваш мобильный офис и диспетчерская
        </p>
    </div>
</header>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="ca01"><img src="/images/cap/ca01.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Оформление в вашем фирменном стиле</h2>
            <p>Сделайте приложение узнаваемым, используя фирменные цвета, логотип и иконку.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="ca02"><img src="/images/cap/ca02.svg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Доступно для iOS и Android</h2>
            <p>Согласно статистике Liveinternet, у 73,7% активных мобильных пользователей установлена система Android. Еще у 22,3% - iOS. Таким образом, ваше мобильное приложение подойдет для 96% пользователей.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="ca03"><img src="/images/cap/ca03.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Единое приложение для всех услуг</h2>
            <p>Создайте бизнес в сфере перевозок, доставки или выездных услуг. Например, такси, курьерскую службу, доставку еды, цветов, воды, различные услуги на дому (муж на час, массажист, сантехник и т.д.);</p>
            <p>К примеру, вы предлагаете 2 услуги: такси и курьерскую службу. Привлекая клиентов на одну из услуг, автоматически уведомляете о наличии других.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="ca04"><img src="/images/cap/ca04.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Обновление и развитие</h2>
            <p>Вам не нужно думать о модернизации и обновлении приложения, это задача специалистов Гутакса. Приложение постоянно развивается в соответствии с требованиями платформ, новых функций и тенденций в дизайне.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="ca05"><img src="/images/cap/ca05.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Push и SMS рассылки</h2>
            <p>Уведомляйте клиентов о новостях и акциях компании с помощью рассылок. Это инструмент маркетинга, который позволит быть на виду у пользователей приложения, будет работать на имидж компании.</p>
            <p>Push-рассылка бесплатна, в отличие от SMS!</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="ca06"><img src="/images/cap/ca06.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Оплата заказа банковской картой</h2>
            <p>Оплата банковской картой автоматизирует приём платежей и является удобным способом расчёта для ваших клиентов.</p>
            <p>Большинство людей используют банковскую карту ежедневно: супермаркеты, услуги и т.д. Предлагая своим потенциальным клиентам этот способ оплаты, вы получаете преимущество по сравнению с теми, кто ведёт расчёт наличными. Это удобно, нужная сумма будет автоматически списываться с карты.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="ca07"><img src="/images/cap/ca07.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Предварительный заказ</h2>
            <p>Ваши клиенты смогут заказывать услуги заранее. Система автоматически напомнит клиенту и исполнителю о заказе.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="ca08"><img src="/images/cap/ca08.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Работа с корпоративными клиентами</h2>
            <p>Работайте с юридическими лицами, чтобы сотрудники использовали услуги за счёт компании. Клиенту достаточно выбрать в способе оплаты компанию, к которой он относится.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="ca09"><img src="/images/cap/ca09.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Бонусная система</h2>
            <p>Создайте бонусную систему для клиентов. Это увеличит их лояльность, т.к. определённый процент от заказа будет накапливаться и далее может использоваться для оплаты.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="ca10"><img src="/images/cap/ca10.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Размещение в AppStore и Google-Play</h2>
            <p>Приложение выкладывается в AppStore и GoglePlay, вам не нужно дополнительно оплачивать стоимость размещения (выкладывается на аккаунт Гутакса).</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="ca11"><img src="/images/cap/ca11.jpg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Автоматизация приёма заказов</h2>
            <p>Мобильное приложение снижает нагрузку на диспетчеров или полностью заменяет их функцию, исключает ошибки из-за человеческого фактора, экономит деньги (стоимость всего 5000 рублей в месяц против минимальных 45000 рублей в месяц за 3 диспетчеров).</p>
            <p>При грамотной раскрутке и концепции сервиса, можно вообще обойтись только этим каналом принятия заказов.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="ca12"><img src="/images/cap/ca12.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Обратная связь</h2>
            <p>Клиенты будут оставлять отзывы и оценки вашему приложению в маркетах. Вы сможете проанализировать свои ошибки и улучшить предоставляемый сервис.</p>
        </div>
    </div>
</section>