<header class="page_header">
    <div class="content">
        <h1 style="margin-bottom: 0;">Управляйте бизнесом с помощью Гутакса!</h1>
    </div>
</header>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="main_02"><img src="/images/cap/main02.svg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Различные услуги</h2>
            <p>Добавьте услуги, которые вы будете предоставлять. Например, такси, курьерскую службу, доставку еды, цветов, воды, различные услуги на дому (муж на час, массажист, сантехник и т.д.)</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="main_03"><img src="/images/cap/main03.svg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Филиалы</h2>
            <p>Добавьте филиалы (города), в которых вы будете работать. Назначьте настройки: предоставляемые услуги, валюта, язык, поставщики смс и телефонии.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="cp03 zoom_image" data-zooming-image="/images/cap/cp03.jpg"><img src="/images/cap/cp03.jpg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Заказы</h2>
            <p>Все заказы разделены по группам для удобства работы (новые, в работе, внимание, отменённые, выполненные). В вкладке “Внимание” находятся все заказы, которые требуют помощи или контроля.</p>
            <p>По каждому заказу можно получить подробную информацию (клиент, исполнитель, маршрут, события, отзыв и другие).</p>
            <p>Все заказы и авто можно увидеть на карте.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="cp04"><img src="/images/cap/cp04.jpg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Клиенты (физические и юридические лица)</h2>
            <p>Все клиенты автоматически попадают в систему. По каждому вы можете посмотреть подробную информацию о совершенных заказах, оставленных отзывах, накопленных бонусах и т.д.</p>
            <p>Работайте с юридическими лицами, чтобы сотрудники использовали услуги за счёт компании. Клиенту достаточно выбрать в способе оплаты компанию, к которой он относится.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="ca09"><img src="/images/cap/ca09.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Бонусная система</h2>
            <p>Создайте бонусную систему для клиентов. Это увеличит их лояльность, т.к. определённый процент от заказа будет накапливаться и далее может использоваться для оплаты.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="cp06"><img src="/images/cap/cp06.jpg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Исполнители</h2>
            <p>Добавляйте исполнителей разных услуг, выделяйте и премируйте лучших, отсеивайте недобросовестных.</p>
            <p>Исполнителей можно разделить на группы и дать им разные финансовые условия (например, списание денег за заказ или за выход на смену).</p>
            <p>По каждому исполнителю доступна подробная информация: личная карточка, должность, автомобиль, баланс, отзывы, смены + текущая смена, статистика по смене.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="cp07 zoom_image" data-zooming-image="/images/cap/cp07.png"><img src="/images/cap/cp07.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Тарифы</h2>
            <p>Создайте тарифы для клиентов и исполнителей с помощью гибкой системы.</p>
            <p>Для клиентов вы можете сделать оплату за время, за количественный показатель или фиксированный расчёт.</p>
            <p>Для исполнителей доступны разовые выходы на смену, абонементы на несколько дней или процент от заказа.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="cp08 zoom_image" data-zooming-image="/images/cap/cp08.png"><img src="/images/cap/cp08.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Отчеты</h2>
            <p>Создавайте отчеты, анализируйте, делайте выводы о полученных результатах. Полная картина работы вашей компании в едином пространстве: отчёт по заказам, отчёт по водителям, денежный отчёт, отчёт по корпоративным клиентам.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="cp09"><img src="/images/cap/cp09.svg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Dashboard</h2>
            <p>Быстрое получение основной информации по эффективности бизнеса. Настраивайте на свой вкус и всегда будьте в курсе об эффективности бизнеса.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="cp10"><img src="/images/cap/cp10.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Чат</h2>
            <p>Общайтесь в общем чате с исполнителями и диспетчерами</p>
        </div>
    </div>
</section>