<header class="page_header">
    <div class="content">
        <h1>Приложение исполнителя</h1>
        <p class="header_description">
            Инструмент для принятия и выполнения заказов
        </p>
    </div>
</header>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="ca02"><img src="/images/cap/ca02.svg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Доступно для iOS и Android</h2>
            <p>Мобильное приложение подойдет для 96% пользователей смартфонов. Использовать свой гаджет для работы - удобно и привычно.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="da02 zoom_image" data-zooming-image="/images/cap/da02.png"><img src="/images/cap/da02.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Автоматическое предложение заказов</h2>
            <p>Заказ автоматически предлагается исполнителю, который соответствует необходимым параметрам. Исполнитель может принять или отказаться от заказа. При отмене заказ отойдет другому свободному исполнителю.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="da03 zoom_image" data-zooming-image="/images/cap/da03.png"><img src="/images/cap/da03.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Навигатор</h2>
            <p>Исполнитель может посмотреть заказ на карте, либо воспользоваться внешними навигаторами, которые интегрированы в приложение: Яндекс.Навигатор и Wase.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="da04 zoom_image" data-zooming-image="/images/cap/da04.png"><img src="/images/cap/da04.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>История заказов</h2>
            <p>История выполнения заказов и статистика подскажет водителю, насколько эффективно он работает и поможет составить план для увеличения заработка.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="da05 zoom_image" data-zooming-image="/images/cap/da05.png"><img src="/images/cap/da05.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Чат</h2>
            <p>Чат позволяет исполнителю быть в курсе новостей внутри компании, а также общаться с диспетчером или директором компании.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="da06 zoom_image" data-zooming-image="/images/cap/da06.png"><img src="/images/cap/da06.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Выбор схемы оплаты</h2>
            <p>Исполнитель может сам выбрать подходящую ему схему оплаты за получение заказов. Например, если он может уделять много времени, ему выгодней купить месячный абонемент, иначе - платить 10% от дохода.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="da07 zoom_image" data-zooming-image="/images/cap/da07.png"><img src="/images/cap/da07.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Сигнал SOS</h2>
            <p>В случае форс-мажорных обстоятельств исполнитель может попросить о помощи нажав кнопку SOS. Исполнители и сотрудники компании получат уведомление с координатами и смогут придти на помощь.</p>
        </div>
    </div>
</section>