<header class="page_header">
    <div class="content">
        <h1 style="margin-bottom: 0;">Интеграции</h1>
    </div>
</header>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="in01"><img src="/images/cap/in01.jpg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Биржа заказов</h2>
            <p>Не успеваете обработать все заявки? Или, наоборот, не хватает заказов? Пользуйтесь биржой заказов и обменивайтесь не только с другими клиентами Гутакса, но и с Яндекс, Gett, Up&Up, 1331 и Мегафон.<sup>Скоро</sup></p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="ca11"><img src="/images/cap/ca11.jpg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Виртуальная АТС для создания диспетчеркой</h2>
            <p>Подключите SIP-телефонию для создания диспетчерской. С помощью минимальных настроек в Гутаксе вы быстро подключите телефонию.</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="ca05"><img src="/images/cap/ca05.png" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>SMS</h2>
            <p>Подключите SMS для регистрации пользователей в вашем клиентском приложении, в остальных случаях целесообразней использовать пуш-уведомления (но при желании можно настроить и SMS).</p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="in04"><img src="/images/cap/in04.jpg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Форма на сайте</h2>
            <p>Технический специалист за 2 минуты установит небольшой кусок кода на ваш сайт, а все пользователи сайта увидят красивую и лаконичную форму, введенные данные из которой Гутакс автоматически обработает и отправит исполнителям.<sup>Скоро</sup></p>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="in05"><img src="/images/cap/in05.svg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Партнерская программа</h2>
            <p>Вышеупомянутую форму можно использовать и на других сайтах. Например, можно разместить его на сайте кинотеатра. Вы получите новых клиентов, а кинотеатр дополнительный заработок.<sup>Скоро</sup></p>
        </div>
    </div>
</section>