<header class="page_header">
    <div class="content">
        <h1>Гутакс — облачный сервис нового поколения!</h1>
        <p class="header_description">
            Все инструменты для вашего бизнеса в едином пространстве.
        </p>
    </div>
</header>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="main_01"><img src="/images/cap/main01.jpg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Облачная система (SaaS)</h2>
            <ul class="styled">
                <li>Начните работу прямо сейчас, это быстро и просто. Не нужно быть техническим специалистом, чтобы создать сервис услуг;</li>
                <li>Порог вхождения минимален, не нужно платить 6-значную сумму за серверную программу, которую необходимо постоянно обновлять и обслуживать;</li>
                <li>Не нужно тратить деньги на аренду сервера, системного администратора, обновления системы — все включено в ежемесячную оплату!* (* за исключением расходов на смс, телефонию, банковский процент);</li>
                <li>Контролируйте работу бизнеса из любой точки мира - достаточно, чтобы под рукой был компьютер и интернет;</li>
                <li>Надежные сервера поддерживают работоспособность Гутакса 24 часа 7 дней в неделю.</li>
            </ul>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="main_02"><img src="/images/cap/main02.svg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Cервис различных услуг</h2>
            <ul class="styled">
                <li>Создайте бизнес в сфере перевозок, доставки или выездных услуг. Например, такси, курьерскую службу, доставку еды, цветов, воды, различные услуги на дому (муж на час, массажист, сантехник и т.д.);</li>
                <li>Создайте индивидуальные тарифы для разных услуг;</li>
                <li>Совмещайте возможности ваших исполнителей. Например, водитель такси может быть курьером или мужем на час.</li>
            </ul>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="main_03"><img src="/images/cap/main03.svg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Несколько филиалов вашего сервиса</h2>
            <ul class="styled">
                <li>Открывайте филиалы в любом городе (и любой стране) за несколько минут без дополнительной платы;</li>
                <li>Назначайте ответственных сотрудников за управление одним или несколькими филиалами с помощью гибких настроек доступа;</li>
                <li>Создайте различные настройки системы для разных филиалов: предоставляемые услуги, валюта, тарифы, особенности распределения заказов.</li>
            </ul>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item cap_item_sec">
    <div class="content">
        <div class="ci_left">
            <i class="main_04"><img src="/images/cap/main04.svg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Автоматическая обработка и распределение заказов</h2>
            <ul class="styled">
                <li>Заказ попадает в программу через моб.приложение, сайт или звонок диспетчеру;</li>
                <li>Гутакс ищет ближайшего исполнителя и предлагает заказ (распределение заказов по расстоянию), либо в порядке очереди среди исполнителей на парковке (распределение заказов по парковкам);</li>
                <li>Исполнитель может принять или отказаться от заказа. При отказе заказ предлагается следующему. Поиск продолжается до тех пор, пока заказ не будет принят, либо не кончится допустимое время;</li>
                <li>Если время принятия заказа вышло, а исполнитель не был найден, заказ отправляется в биржу и продаётся партнёрам по обмену заказами (функция настраивается).<sup>Скоро</sup></li>
            </ul>
        </div>
    </div>
</section>
<hr class="small_hr">
<section class="page_content cap_item">
    <div class="content">
        <div class="ci_left">
            <i class="main_05"><img src="/images/cap/main05.jpg" alt="icon"></i>
        </div>
        <div class="ci_right">
            <h2>Мобильное приложение для клиентов (iOS и Ansroid)</h2>
            <ul class="styled">
                <li>Снижает нагрузку на диспетчеров или полностью заменяет их функцию, а также исключает ошибки из-за человеческого фактора;</li>
                <li>Экономит деньги: стоимость всего 5000 рублей в месяц против минимальных 45000 рублей в месяц за 3 диспетчеров;</li>
                <li>Позволяет в 2 тапа вызвать такси, курьера, грузотакси или другую предлагаемую услугу;</li>
                <li>Оплата банковской картой автоматизирует приём платежей и является удобным способом расчёта для ваших клиентов;</li>
                <li>Является маркетинговым инструментом для продвижения вашей компании и развития лояльности клиентов. Иконка в смартфоне всегда под рукой клиента, а с помощью пуш-уведомлений вы сообщаете аудитории об акциях и спец.предложениях.</li>
            </ul>
        </div>
    </div>
</section>