.header_content,
.main_wrapper {
    max-width: none;
}

.button {
    &.kb-btn-warn {
        background: linear-gradient(to bottom, #ff864b 0%, #fc6b23 100%);

        &:hover {
            background: linear-gradient(to bottom, #ff9866 0%, #fc8144 100%);
        }
        &:active {
            background: #cd5216;
            box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.6);
        }
    }
    &.kb-btn-dang {
        background: linear-gradient(to bottom, #ff5050 0%, #cc1919 100%);

        &:hover {
            background: linear-gradient(to bottom, #ff6666 0%, #db2424 100%);
        }
        &:active {
            background: #ae1313;
            box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.6);
        }
    }
}

button[disabled] {
    background: #eae5dc !important;
    background: -moz-linear-gradient(top, #eae5dc 0%, #d0cabe 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eae5dc), color-stop(100%, #d0cabe)) !important;
    background: -webkit-linear-gradient(top, #eae5dc 0%, #d0cabe 100%) !important;
    background: -o-linear-gradient(top, #eae5dc 0%, #d0cabe 100%) !important;
    background: -ms-linear-gradient(top, #eae5dc 0%, #d0cabe 100%) !important;
    background: linear-gradient(to bottom, #eae5dc 0%, #d0cabe 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae5dc', endColorstr='#d0cabe', GradientType=0) !important;
    box-shadow: none !important;
    color: #888 !important;
    cursor: default;
}


.ui-datepicker table .ui-state-disabled .ui-state-default {
    color: #CCC;
}

.kb-checkbox {
    font-size: 12px;
    font-weight: 700;
    display: block;

    label {
        > span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    input {
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        margin: 0 3px 0 0;
    }
}

.kb-toolbar {
    position: relative;
    z-index: 10;

    h1 {
        & > span {
            vertical-align: middle;
            display: inline-block;
        }
    }
}

.kb-order-asgmt {
    position: relative;
    border-radius: 3px;
    padding-bottom: 25px;

    .kb-body {
        display: table;
        width: 100%;
    }

    .kb-scol {
        display: table-cell;
        width: 40%;
        padding: 0 10px;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        &[data-role="worker"] {
            width: 20%;
        }
    }
    .kb-scol-head {
        /* Based on .a_sc.sel_active */

        display: block;
        font-weight: 700;
        border: 1px #f8f8f8 solid;
        border-top-color: #eae5dc;
        border-radius: 3px 3px 0 0;
        box-sizing: border-box;
        line-height: 28px;
        padding: 5px 10px;
        background: linear-gradient(to bottom, #ece7de 0%, #f8f8f8 100%);
        color: #000;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.42);
        z-index: 1;

        &:before {
            content: '';
            height: 1px;
            display: block;
            width: 100%;
            bottom: 0;
            position: absolute;
            left: 0;
            background: linear-gradient(to right, #dbd9d0 0%, #f8f8f8 100%);
        }

        .kb-checkbox {
            display: inline-block;
            float: right;
            line-height: 1;
            margin-top: 8px;
        }
    }
    .kb-scol-body {
        /* Based on .b_sc */
        display: block;
        background: #f8f8f8;
        padding: 10px 0 5px 0;
        position: relative;
        z-index: 5;
        overflow: auto;
        overflow-x: hidden;
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.42);
        border-radius: 0 0 3px 3px;
        max-height: 650px;
    }
    .kb-scol-empty {
        text-align: center;
        padding: 15px 0;
    }
    .kb-overlay {
        position: absolute;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.95);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        border-radius: 3px;
    }
    .kb-overlay-cont {
        display: inline-block;
        margin-top: 35px;
        text-align: left;
        max-width: 600px;

        &:before {
            content: '';
            display: block;
            background: url(img/loader.gif) no-repeat center center;
            width: 60px;
            height: 60px;
            margin: 0 auto 15px auto;
        }

        &.failure {
            color: darkred;
            font-weight: 700;

            &:before {
                display: none;
            }
        }
    }
}

.kb-order {
    display: table;
    width: 100%;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    user-select: none;

    &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        content: '';
        background: linear-gradient(to right,#dbd9d0 0,#f8f8f8 100%);
    }
    &:hover {
        background-color: rgba(0,0,0,.05);
        border-radius: 0 2px 2px 0;

        &:before {
            display: none;
        }
    }
    &.kb-active {
        background: #ece7de;
        border-radius: 0 2px 2px 0;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);

        &:before {
            display: none;
        }
    }
    &:last-child {
        &:before {
            display: none;
        }
    }

    input {
        cursor: pointer;
    }

    > * {
        padding: 5px 0;
        display: table-cell;
        vertical-align: top;

        &:first-child {
            padding-left: 5px;
        }
        &:last-child {
            padding-right: 5px;
        }
    }

    .kb-checker {
        width: 50px;
        text-align: left;
        vertical-align: middle;
        white-space: nowrap;
        padding-right: 5px;

        input {
            margin: 0;
            display: inline-block;
            vertical-align: middle;
        }
        .ot_edit {
            display: inline-block;
            vertical-align: middle;
            float: none;
            margin-left: 5px;
        }
    }

    .kb-top {
        color: #666;
        width: 1%;
        max-width: 140px;
        vertical-align: middle;
        text-align: right;

        .kb-cliname {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .kb-sign {
            white-space: nowrap;

            .kb-sep {
                &:after {
                    content: '';
                    display: inline-block;
                    border-left: 1px solid #CCC;
                    height: 14px;
                    margin: 0 3px;
                    line-height: 0;
                    position: relative;
                    top: 2px;
                }
            }

            > * {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .kb-no {
            font-size: 12px;
        }
        .kb-time {
            font-weight: 700;
        }
    }
    .kb-addr {
        font-weight: 700;

        .od_d {
            margin-right: 5px;
        }
    }
    .kb-addr-a {
        color: darkcyan;
    }
}

.kb-timesep {
    position: relative;
    text-align: right;
    background-color: #e9ecef;
    color: #2b2b2b;
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
    padding: 5px;

    &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        content: '';
        background: linear-gradient(to right,#dbd9d0 0,#f8f8f8 100%);
    }
    &:first-child {
        margin-top: 0;
    }
}

.kb-worker {
    position: relative;
    border-left: 3px solid transparent;
    padding: 10px;
    cursor: pointer;
    user-select: none;

    &:before {
        position: absolute;
        bottom: 0;
        left: -3px;
        display: block;
        width: 100%;
        height: 1px;
        content: '';
        background: linear-gradient(to right,#dbd9d0 0,#f8f8f8 100%);
    }
    &:hover {
        border-left: 3px solid #1d1f1e;
        background-color: rgba(0,0,0,.05);
        border-radius: 0 2px 2px 0;

        &:before {
            display: none;
        }
    }
    &.kb-active {
        border-left: 3px solid #82c8ff;
        background: #ece7de;
        border-radius: 0 2px 2px 0;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);

        &:before {
            display: none;
        }
    }
    &:last-child {
        &:before {
            display: none;
        }
    }
    &.kb-send {
        color: #21b990;
    }
    &.kb-fail {
        color: red;
    }
    .kb-name {
        display: inline-block;
    }
    .kb-call {
        display: inline-block;
        font-weight: 700;
    }
    .kb-sep {
        display: inline-block;
        margin: 0 5px;
    }
    .kb-count {
        display: inline-block;
        float: right;
        font-weight: 700;
        color: #999;

        &.kb-busy {
            color: #fc6b23;
        }
    }
}

.kb-worker {
    .kb-actions {
        margin-top: 10px;

        button {
            font-size: 14px;
            font-weight: normal;

            + button {
                margin-left: 10px;
            }
        }
    }

    .kb-asta {
        display: table-cell;
        font-size: 12px;
        font-weight: normal;

        &.kb-error {
            color: red;
        }
    }

    .kb-buttons {
        display: table-cell;
        white-space: nowrap;
        width: 1%;
    }
}

.kb-worker-box {
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    max-height: 0;

    textarea {
        height: 120px;
        margin-bottom: 0;
    }

    .kb-worker.kb-active & {
        line-height: 1.5;
        padding-top: 5px;
        padding-bottom: 5px;
        max-height: 240px;
    }
}

#kb_send_schedule_mails {
    margin-left: 5px;
}