.filter{
    letter-spacing: -0.3em;
    margin: 0 -10px;
}

.filter_item_1, .filter_item_2, .filter_item_3{
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    box-sizing: border-box;
    padding: 0 10px;
}

.filter_item_1{
    width: 33.33%;
}

.filter_item_2{
    width: 66.66%;
}

.filter_item_3{
    width: 100%;
}

.filter label {
    font-size: 14px;
    margin-bottom: 3px;
    display: block;
    float: left;
    margin-right: 10px;
}

.filter hr {
    display: block;
    float: left;
    width: 15px;
    margin: 0;
    padding: 0;
    height: 1px;
    background: #c4beb6;
    position: relative;
    top: 14px;
    border: 0;
    margin: 0 8px;
}

.cof_date_first, .cof_date_second{
    float: left;
}
