input[type="datetime-local"] {
    padding: 5px 9px;
    border: 0;
    background-color: #ece7de;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #333;
    outline: 0;
    font-family: 'Pt Sans', sans-serif;
    font-size: 16px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.label_js_input input {
    width: 22% !important;
}

input.time {
    width: 100px !important;
    display: inline-block;
}

.cof_date {
    margin-right: 10px;
}

.date-time {
    display: inline-block;
}

.delimiter-date-time {
    width: 15px;
    display: inline-block;
    position: relative;
    margin: 0 3px;
    background: #c4beb6;
}

.promo-codes_table td, .styled_table td {
    padding: 5px 0;
    vertical-align: top;
}


