html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-text-size-adjust: none;
    -webkit-appearance: none !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #ddf4ec;
    color: #000;
    font-size: 16px;
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
    min-width: 1000px;
}

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.login_form {
    width: 360px;
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    position: absolute;
    left: 50%;
    top: 35%;
    margin: -125px 0 0 -200px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    z-index: 2;
    position: relative;
}

.login_form2 {
    width: 440px;
    padding: 20px;
    border-radius: 7px;
    position: absolute;
    left: 50%;
    top: 35%;
    margin: -125px 0 0 -240px;
    z-index: 2;
    position: relative;
}

.wrapper a {
    text-decoration: none;
    color: #15af82;
    cursor: pointer;
}

.wrapper a:hover {
    color: #057655;
}

.login_form header {
    overflow: hidden;
    margin-bottom: 25px;
}

.logotype {
    float: left;
    width: 80px;
    height: 80px;
    background: #f5f5f5 url('../images/icons_error.png') -239px -13px;
    overflow: hidden;
}

.logotype img {
    width: 100%;
}

.login_form header h1 {
    display: block;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
    margin-left: 95px;
}

.login_form input[type="text"], .login_form input[type="password"], .login_form textarea {
    display: block;
    width: 100%;
    border: 2px #ccc solid;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 16px;
    height: 30px;
    padding: 4px 7px;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none !important;
}

.login_form textarea {
    height: auto;
    padding: 7px;
}

.login_form input[type="text"]:focus, .login_form input[type="password"]:focus, .login_form textarea:focus {
    border-color: #b0b0b0;
}

.login_form input[type="text"]:disabled, .login_form input[type="password"]:disabled, .login_form textarea:disabled {
    background: none !important;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}

.login_form input[type="text"], .login_form input[type="password"], .login_form input[type="text"]:focus, .login_form input[type="password"]:focus {
    font-size: 18px;
    height: 40px;
    padding: 5px 7px;
    line-height: 30px;
}

.login_form section div {
    overflow: hidden;
    margin-bottom: 20px;
}

.login_form section div input[type="password"] {
    width: 230px;
    float: left;
}

.login_form section div a {
    display: inline-block;
    zoom: 1;
    *display: inline;
    border-style: dashed;
    font-size: 14px;
    margin: 9px 0 0 8px;
}

.login_form label {
    display: block;
    margin-bottom: 10px;
}

.login_form .button {
    display: inline-block;
    zoom: 1;
    *display: inline;
    outline: none;
    border: 0;
    background: #ff8b0f;
    height: 40px;
    line-height: 40px;
    font-family: "PT Sans Caption", sans-serif;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    cursor: pointer;
    -webkit-appearance: none !important;
}

.login_form .button:hover {
    color: #fff;
    background: #ffa03a;
}

.login_form .button:active {
    box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
    background: #d4740c;
}

.login_form .button:disabled {
    background: #d3d3d3 !important;
    cursor: default !important;
}

.error_text {
    position: relative;
    top: 42%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    text-align: left;
    font-size: 18px;
}

.error_text h1, .error_text h2 {
    font-weight: normal;
    font-size: 55px;
    display: block;
}

.error_text h1 {
    float: left;
}

.error_text b {
    font-weight: 400;
    font-size: 22px;
    display: block;
    margin-bottom: 5px;
}

.error_text span {
    display: block;
    margin-bottom: 15px;
    font-weight: 300;
}

.error_text div {
    margin-left: 70px;
    padding-top: 8px;
}

.error_text p {
    display: block;
    margin-bottom: 25px;
}

.error_text h2 {
    font-size: 18px;
}

@media only screen and (max-width: 700px) {
    .error_text {
        width: 90%;
        left: 0;
        margin-left: 0;
        padding: 0 5%;
        top: 35%;
    }

    .login_form2, .cars {
        display: none;
    }
}