.orders_links {
    border-bottom: 2px #c1b9ac solid
}

.orders_links ul {
    list-style: none;
    display: block;
}

.orders_links ul li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    padding: 7px 12px 9px 12px;
    position: relative;
    bottom: -2px;
}

.tnums ul li {
    padding: 7px 20px 9px 20px
}

.orders_links ul li.active {
    border: 2px #c1b9ac solid;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    border-bottom: 0;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.tnums ul li.active {
    padding-left: 18px;
    padding-right: 18px;
}

.orders_links ul li a {
    border: 0;
    cursor: pointer;
    position: relative;
}

.orders_links ul li a sup {
    position: absolute;
   /* right: -20px;*/
    top: -14px;
    display: inline-block;
    zoom: 1;
    display: inline;
    background: #847d72;
    font-size: 12px;
    color: #fff;
    padding: 0px 6px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: right;
    z-index: 2;
}

.orders_links ul li a sup.red_sup {
    background: #cc1919;
    color: #fff;
}

.orders_links ul li a.link_red sup {
    background: #cc1919
}

.orders_links ul li.active a {
    color: #000
}

.orders_links a:hover span.link_red {
    color: #f33c3c;
}