.map_icon_point_a, .map_icon_point_b, .map_icon_point_c, .map_icon_point_d, .map_icon_point_e{
    background-image: url('images/icons.png');
}

.map_icon_point_a, .map_icon_point_b, .map_icon_point_c, .map_icon_point_d, .map_icon_point_e{
    width: 24px !important;
    height: 27px !important;
}

.map_icon_point_a{
    background-position: 0 -420px;
}

.map_icon_point_b{
    background-position: -24px -420px;
}

.map_icon_point_c{
    background-position: -48px -420px;
}

.map_icon_point_d{
    background-position: -72px -420px;
}

.map_icon_point_e{
    background-position: -96px -420px;
}
